<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"
      ><img src="webel-logo.png" alt="Webel" width="100px"
    /></a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item mx-2">
        <a class="nav-link btn btn-primary" href="/issues/new">New Issue</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link btn btn-secondary" href="/users/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<% include ./partials/messages %>
<h1 class="mt-4">Issues</h1>
<% if(typeof issues === 'undefined'||!issues) { %>
<p>No Issues present in system</p>
<% } else { %> <% issues.forEach(issue => { %>
<div class="card w-100">
  <div class="card-body">
    <h5 class="card-title"><%- issue.title %></h5>
    <p class="card-text"><%- issue.description %></p>
    <% if(user.role.toLowerCase() == 'executive') { %>
    <a href="#" class="btn btn-primary">Assign myself</a>
    <% } %>
  </div>
</div>
<% }); %> <% } %>
